---
layout: archive
title: "论文发表"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">你也可以在 <a href="{{site.author.googlescholar}}">我的 Google Scholar 主页</a> 找到我的文章。</div>
{% endif %}

{% include base_path %}

{% assign pub_count = site.publications | size %}
{% if pub_count == 0 %}
  <p>这里暂时还没有内容。我正在整理自己的论文与课程研究项目，敬请期待。</p>
{% else %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% endif %}
